.stopwatch{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background:rgb(54, 54, 54);
  width: 300px;
  border-radius: 10px;
  margin: 220px 480px;
  padding: 20px 20px;
  .numbers{
    display: flex;
    align-items: center;
    position: relative;
    bottom: 35px;
    gap: 10px;
    span{
      color: white;
    }
    .num{
      background: linear-gradient(rgb(255, 136, 255),rgb(255, 120, 143));
      padding: 10px 10px;
      border-radius: 8px;
      color: white;
    }
  }
  .buttons{
    display: flex;
    flex-direction: row;
    gap: 5px;
    button{
      outline: none;
      border: none;
      border-radius: 8px;
      padding: 5px 10px;
      box-shadow: white 0px 0px 1px 0px;
      color: white;
      &:hover{
        background: white;
      }
    }
  }
  .data{
    display: flex;
    background: white;
    margin-top: 20px;
    padding: 10px 10px ;
    border-radius: 10px;
    gap: 100px;
  }
}